# 파이썬 데이터 입력

* input : 사용자 입력을 받는 함수
* 변수로는 안내 문구를 적음

In [2]:
input('원하는 정수를 넣어주세요: ')

원하는 정수를 넣어주세요:

''

In [3]:
int(input('원하는 정수를 넣어주세요: '))

원하는 정수를 넣어주세요: 123

123

* 데이터를 여러개 받을 때는 split을 사용한다. 
* split은 문자열을 조각 낼 때 사용하는 함수다

In [10]:
numbers = input('숫자 여러 개를 공백으로 구분해서 넣어주세요.: ')

숫자 여러 개를 공백으로 구분해서 넣어주세요.: 1 2 3 4 5

In [11]:
numbers.split(' ')

['1', '2', '3', '4', '5']

In [13]:
a,b,c,d,e  =numbers.split(' ')
print(a)

1

In [18]:
numbers = input('숫자 4개를 공백으로 구분해서 넣어주세요.: ')

숫자 4개를 공백으로 구분해서 넣어주세요.: 1 2 3 4

In [19]:
a,b,c,d = numbers.split(' ')
e = int(a) +int(b) +int(c)+int(d)

In [20]:
print('{},{},{},{}의 합은 {}이다.'.format(a,b,c,d,e))

1,2,3,4의 합은 10이다.

* 강제 형변환 하기

> * int(): 문자형 데이터나 실수형 데이터를 정수로 변환
> * str(): 각종 데이터를 문자열로 변환
> * float(): 문자형 데이터나 정수형 데이터를 부동소수점으로 변환