* 딕셔너리
>* dict는 딕셔너리의 약자로 값과 속성으로 이루어짐
>* 값은 문자열, 정수, 배열, dict 등 삽입 가능
>* key를 사용하여 value를 인덱스
>* 키는 strings 나 number가 될 수 있으나 변하지 않아야 함.
>* 키는 고유한 성질을 가져야 함
>* 정렬되지 않은 key:value 썅
>* '{'와'}를 활용하여 딕셔너리를 만들고, 그안에 ':'를 사용하여 key와 value를 구분
>* key를 사용하여 vaue를 저장
>* keys()를 사용하면 딕셔너리 키만 확인
>* values()를 사용하면 딕셔너리 값만 확인
>* items()를 사용하면 딕셔너리 전체를 확인
>* 전체 내용을 확인하려면 data의 keys를 통래 내용확인 가능(for문으로)

In [3]:
data ={1:'a',2:'b'}
print(data[1])
print(data[2])
print(data.keys())
print(data.values())

a
b
dict_keys([1, 2])
dict_values(['a', 'b'])

In [4]:
data2={'김영수':{'영어':80,'수학':90},
      '최희수':{'영어':70,'국어':100}}

In [9]:
print(data2['김영수'])
print(data2['김영수']['영어'])
print(data2['김영수']['수학'])
print(data2['최희수']['국어'])
data2['김영수']['수학']=100
print(data2)
data2['김영수']['국어']=50
print(data2)

{'영어': 80, '수학': 90}
80
90
100
{'김영수': {'영어': 80, '수학': 100}, '최희수': {'영어': 70, '국어': 100}}
{'김영수': {'영어': 80, '수학': 100, '국어': 50}, '최희수': {'영어': 70, '국어': 100}}

In [13]:
for i in data.keys():
    print(i,':',data[i])

1 : a
2 : b

In [15]:
for i in data2.keys():
    print(i,':',data2[i])

김영수 : {'영어': 80, '수학': 100, '국어': 50}
최희수 : {'영어': 70, '국어': 100}

# 연습문제

* dict b에서 name데이터를 찾으라.
* dict b에서 birth데이터를 찾으라
* dict b에 key가 city이고 value가 seoul인 데이터를 추가하라. 
'''\
키        값            데이터타입\
name     Jonh           문자열\
phone    01012345432    문자열\
email    test@test.com  문자열\
birth    111111         정수\
'''

In [17]:
b ={'name':'John', 'phone':'01012345432', 'email':'test@test.com','birth':111111}

In [26]:
b['name']

'John'

In [28]:
b['birth']=101010
print(b)

{'name': 'John', 'phone': '01012345432', 'email': 'test@test.com', 'birth': 101010}

In [33]:
b['city']='seoul'
print(b)

{'name': 'John', 'phone': '01012345432', 'email': 'test@test.com', 'birth': 101010, 'city': 'seoul'}

In [34]:
del b['email']
print(b)

{'name': 'John', 'phone': '01012345432', 'birth': 101010, 'city': 'seoul'}