# 1. 숫자형 자료

* 양수

In [1]:
print(5)

5

* 음수

In [2]:
print(-10)

-10

* 실수

In [3]:
print(3.14)

3.14

In [4]:
print(1000)

1000

* 연산

In [5]:
print(5+3)

8

In [6]:
print(2*8)

16

In [8]:
print(3*(3+1))

12

# 2. 문자형 자료형

In [11]:
print('풍선')

풍선

In [12]:
print("나비")

나비

In [13]:
print('ㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋ')

ㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋ

* 문자열과 정수를 섞어서 출력

In [15]:
print('ㅋ'*9)

ㅋㅋㅋㅋㅋㅋㅋㅋㅋ

# 3. boolean  자료형 => 참, 거짓

In [17]:
print(5>10)

False

In [18]:
print(5<10)

True

In [20]:
print(True)

True

In [21]:
print(False)

False

In [22]:
print(not True)

False

In [23]:
print(not False)

True

In [24]:
print(not(5>10))

True

# 4. 변수

## 1) 애완 동물들을 소개해 주세요

In [31]:
print('우리집 강아지의 이름은 연탄이예요.')
print('연탄이는 4살이며, 산책을 아주 좋아해요.')
print('연탄이는 어른일까요? True')

우리집 강아지의 이름은 연탄이예요.
연탄이는 4살이며, 산책을 아주 좋아해요.
연탄이는 어른일까요? True

In [26]:
animal = '강아지'
name = '연탄이'
age = 4
hobby = '산책'
is_adult = age >=3

* **숫자형 자료와, boolean 자료형은 문자열과 같이 쓰이기 위해서는 str자료형으로 변환해야 합니다.**

In [30]:
print('우리집 '+ animal +'의 이름은'+ name +'예요.')
print(name +'는'+ str(age) + '살이며, '+ hobby +'을 아주 좋아해요.') 
print(name +'는 어른일까요?' + str(is_adult))

우리집 강아지의 이름은연탄이예요.
연탄이는4살이며, 산책을 아주 좋아해요.
연탄이는 어른일까요?True

In [34]:
animal = '고양이'
name = '해피'
age = 4
hobby = '낮잠'
is_adult = age >=3

- **,  ,로 문자열을 연결하려면 띄어쓰기 양옆에 해주어야 하며, str 자료형으로 바꾸지 않아도 됩니다.**

In [38]:
print('우리집 '+ animal +'의 이름은'+ name +'예요.')
hobby = '공놀이'
# print(name +'는'+ str(age) + '살이며, '+ hobby +'을 아주 좋아해요.')
print(name +'는', age , '살이며, '+ hobby +'을 아주 좋아해요.')
print(name +'는 어른일까요?' + str(is_adult))

우리집 고양이의 이름은해피예요.
해피는 4 살이며, 공놀이을 아주 좋아해요.
해피는 어른일까요?True

# 5. 주석
## 프로그램 코드내에 포함은 되어있지만 실제로 실행은 되지 않은 문장

1) **사용 방법은 #으로 시작**

2) **여러문장을 주석으로 처리하고 싶으면 작은 따음표로 문장을 둘러싸면 됩니다.**

3) **여러문장을 일괄주석처리하는 단축키는 ctrl과 /를 같이 눌러서 합니다.**

# 퀴즈1

Quiz) 변수를 이용하여 다음 문장을 출력하시오

변수명 :station

변수값: '사당','신도림','인천공항' 순서대로 입력

출력문장 : xx행 열차가 들어오고 있습니다.

In [45]:
station = '사당'

In [46]:
print(station + '행 열차가 들어오고 있습니다.')

사당행 열차가 들어오고 있습니다.

# 6. 연산자

In [47]:
print(1+1)

2

In [48]:
print(3-2)

1

In [49]:
print(5*2)

10

In [50]:
print(6/3)

2.0

* 2의 3제곱

In [51]:
print(2**3)

8

* 나머지 구하기

In [52]:
print(5%3)

2

In [53]:
print(10%3)

1

* 몫 구하기

In [54]:
print(5//3)

1

In [55]:
print(10//3)

3

* 비교연산

In [56]:
print(10>3)

True

In [58]:
print(4 >= 7)

False

In [59]:
print(10 < 3)

False

In [60]:
print(5 <=5 )

True

* 앞뒤동일한지여부

In [61]:
print(3 == 3)

True

In [62]:
print(4 ==2)

False

In [63]:
print(3 + 4 == 7)

True

* 앞뒤가 다른 여부

In [64]:
print(1 != 3)

True

In [66]:
print(not (1 != 3))

False

*  and: 앞뒤 두개다 true이면 true

In [68]:
print((3>0) and (3<5))

True

In [69]:
print((3>0) & (3<5))

True

* 앞뒤 둘중 하나만 true 면 true

In [70]:
print((3>0) or (3>5))

True

In [71]:
print((3> 0)| (3>5))

True

In [72]:
print(5>4>3)

True

In [73]:
print(5>4>7)

False

# 7. 간단한 연산

In [94]:
print(2+3*4)

14

In [95]:
print((2+3)*4)

20

In [96]:
number = 2+3*4

In [97]:
print(number)

14

In [98]:
number = number + 2

In [99]:
print(number)

16

* number = number + 2 와 동일한 표현

In [100]:
number +=2

In [101]:
print(number)

18

In [102]:
number *=2

In [103]:
print(number)

36

In [104]:
number /=2

In [105]:
print(number)

18.0

In [106]:
number -= 2

In [107]:
print(number)

16.0

In [108]:
number %= 5

In [109]:
print(number)

1.0

# 8. 숫자처리함수

* 1) 절대값 abs

In [110]:
print(abs(-5))

5

* 2) pow 제곱 구하기

In [111]:
print(pow(4,2))

16

* 3) max 최대값

In [112]:
print(max(5,12))

12

* 4) min 최소값

In [113]:
print(min(5,12))

5

* 5) round 반올림

In [115]:
print(round(3.14))
print(round(4.99))

3
5

* 6) math 라이브러리에 있는 모든것을 이용하기

In [116]:
from math import *

* (1) floor 내림

In [117]:
print(floor(4.99))

4

* (2) ceil 올림

In [118]:
print(ceil(3.14))

4

* (3) sqrt 제곱근 구하기

In [120]:
print(sqrt(16))

4.0

# 9. 랜덤합수 => 무작위로 숫자를 뽑아주는 함수

In [121]:
from random import *

* 0.0 ~1.0 미만의 임의의 값을 생성

In [124]:
print(random())

0.5033141256118633

* 0.0 ~10.0 미만의 임의의 값을 생성

In [125]:
print(random()*10)

4.320182186899229

* 0~10 미만의 임의의 값을 생성

In [127]:
print(int(random()*10))

2

In [128]:
print(int(random()*10))

6

In [129]:
print(int(random()*10))

5

* 1~10 이하의 임의의 값을 생성

In [144]:
print(int(random()*10)+1)
print(int(random()*10)+1)
print(int(random()*10)+1)
print(int(random()*10)+1)
print(int(random()*10)+1)
print(int(random()*10)+1)

10
7
4
2
3
5

* 1~45 이하의 임의의 값 생성

In [139]:
print(int(random()*45)+1)
print(int(random()*45)+1)
print(int(random()*45)+1)
print(int(random()*45)+1)
print(int(random()*45)+1)
print(int(random()*45)+1)

28
24
19
1
24
39

* 1~46 미만의 임의의 값을 생성

In [141]:
print(randrange(1,46))
print(randrange(1,46))
print(randrange(1,46))
print(randrange(1,46))
print(randrange(1,46))
print(randrange(1,46))

9
20
14
26
37
8

* 1~45 이하의 임의의 값을 생성

In [143]:
print(randint(1,45))
print(randint(1,45))
print(randint(1,45))
print(randint(1,45))
print(randint(1,45))
print(randint(1,45))

25
30
36
15
14
30

# 퀴즈2

Quiz) 당신은 최근에 코딩 스터디모임을 새로 만들었습니다. 
월 4회 스터디를 하는데 3번은 온라인으로 하고 1번은 오프라인으로 하기로 했습니다. 
아래 조건에 맞는 오프라인 모임 날짜를 정해주는 프로그램을 작성하시오

조건1 : 랜덤으로 날짜를 뽑아야 한다. 
조건2: 월별 나라는 다름을 감안하여 최소 일수인 28일 이내로 정함
조건3: 매월 1~3일은 스터디 준비를 해야하므로 제외

(출력문 예제)
오프라인 스터디 모임 날짜는 매월 x 일로 선정되었습니다.

In [150]:
from random import *

In [149]:
print('오프라인 스터디 모임 날짜는 매월' ,randint(4, 28), '일로 선정되었습니다.')

오프라인 스터디 모임 날짜는 매월 26 일로 선정되었습니다.

In [154]:
date = randint(4,28)

In [155]:
print('오프라인 스터디 모임 날짜는 매월' + str(date) + '일로 선정되었습니다.')

오프라인 스터디 모임 날짜는 매월11일로 선정되었습니다.

# 10. 문자열

In [157]:
sentence = '나는 소년입니다.'
print(sentence)

나는 소년입니다.

In [159]:
sentence2 = "파이썬은 쉬어요"
print(sentence2)

'파이썬은 쉬어요'

In [160]:
sentence3 = """
나는 소년이고
파이썬은 쉬어요.
"""
print(sentence3)

나는 소년이고
파이썬은 쉬어요.